{% extends 'base.html' %}
{% load static %}
{% block title %}change password{% endblock title %}
{% block content %}
<br> <br> <br> <br> <br> <br> <br>
<link rel="stylesheet" href="{% static "css/st.css" %}">
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span>{{request.user.username|capfirst}}</span></h3>
        <div class="col-sm-2 border-end ">
            <ul class="list-unstyled">
                {% if request.user.is_authenticated %}
                <li class="d-grid"><a href="{% url "profile" %}" class="btn btn-primary">Edit Profile</a></li>
                <br>
                <li class="d-grid"><a href="{% url "address" %}" class="btn btn-primary">View Profile</a></li>
                <br>
                <li class="d-grid"><a href="{% url "passwordchange" %}" class="btn btn-primary">Password change</a></li>
                <br>
                <form action="{% url "logout" %}" method="post">

                    {% csrf_token %}
                    <li> <button type="submit" class="btn btn-primary">Logout</button> </li>
                </form>
                {% else %}
                <li class="d-grid"><a href="{% url "registration" %}" class="btn btn-primary">Sing-up</a></li>
                <br>
                <li class="d-grid"><a href="{% url "login" %}" class="btn btn-primary">Sing-in</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-sm-8 offset-sm-1 form-group centered-form-group col-lg-5 mb-2 text-center">
            <h3>Change Password</h3>
            <hr>
            <form action='' method='post' novalidate class="shadow-sm p_5">

                {% csrf_token %}
                {% for fm in form %}
                <br>
                {{fm.label_tag}} {{fm}} <small class='text-danger'>{{fm.errors|striptags}}</small>
               
                {% endfor %}
                <br>
             
                <button type="submit" class="btn btn-primary">Save</button>
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger">{{error}}</p>
                {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}