{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password Done{% endblock %}
{% block content %}
<br> <br> <br> <br> <br> <br>
<div class="container my-5">
    <div class="row">
        
        <h3>Welcome to <span>{{request.user.username|capfirst}}</span></h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                {% if request.user.is_authenticated %}
                <li class="d-grid"><a href="{% url "profile" %}" class="btn btn-primary">Edit Profile</a></li>
                <br>
                <li class="d-grid"><a href="{% url "address" %}" class="btn btn-primary">View Profile</a></li>
                <br>
                <li class="d-grid"><a href="{% url "passwordchange" %}" class="btn btn-primary">Password change</a></li>
                <br>
                <form action="{% url "logout" %}" method="post">

                    {% csrf_token %}
                    <li> <button type="submit" class="btn btn-primary">Logout</button> </li>
                </form>
                {% else %}
                <li class="d-grid"><a href="{% url "registration" %}" class="btn btn-primary">Sing-up</a></li>
                <br>
                <li class="d-grid"><a href="{% url "login" %}" class="btn btn-primary">Sing-in</a></li>
                {% endif %}
            </ul>

        </div>
        <div class="col-sm-9 offset-sm-1" text-center>
            <h3>Password Changed Successfully!</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHe3PQTtk" width="200" height="200" frameborder="0"
                    class="giphy-embed" allowfullscreen></iframe>
                    <!--<i class="fa fa-check" aria-hidden="true"></i>-->
            </div>
        </div>
    </div>
</div>
{% endblock content %}